# Configuración para desarrollo local
DEBUG=True
SECRET_KEY=django-insecure-xcs3#ae6j+&o&0!#85r_$$p)v=zhoc@s2^$c$ls-5c159&#$b!
ALLOWED_HOSTS=localhost,127.0.0.1

# Base de datos SQLite para desarrollo
USE_POSTGRES=False

# Configuración de logging para desarrollo
LOGGING_LEVEL=DEBUG
